[2020-04-16 14:05] bicarbon8 opened #11 "localIdentifier capability should be supported with the local capability"
since the BrowserStack Local capability is supported in the connection_settings configuration, you should also provide the ability to set a value for *localIdentifier* as this would be more in line with how the Cypress tests would need to be used if they're part of a CICD pipeline that runs multiple builds in parallel.
Example implementation should look like the following:
[code]
this would then a

[2020-04-23 12:17] #11 closed

[2020-05-10 16:17] tanuj-vishnoi opened #16 "Getting Error : Please contact BrowserStack support for Cypress."
When I run the code with required configuration , I am getting the below errors :
'Please contact BrowserStack support for Cypress.' }
[5/10/2020, 9:37:48 PM]  Zip Upload failed.
[5/10/2020, 9:37:48 PM]  [ERROR] Zip Upload failed.
[5/10/2020, 9:37:48 PM]  undefined

I debugged the source and found the below message came from browser stack cloud server.
Here is the request :
{ url:
   'https://api-

[2020-05-11 02:59] wati123321 commented on #16
Testing with Cypress is currently in the beta phase on the BrowserStack platform. It is available only to subscribed users. You will have to raise a support ticket with BrowserStack for this.
https://www.browserstack.com/contact?ref=help

[2020-05-11 06:42] tanuj-vishnoi commented on #16
thank you ! I received the same from BS support team - "Testing with Cypress is currently in the beta phase on our platform. Currently, I don't have an ETA as to when it will be available for all the users.
I will inform you once Cypess testing on BrowserStack is available to the users."

[2020-05-15 09:15] suryart commented on #16
Closing the issue as access is not publicly available yet.

[2020-05-15 09:15] #16 closed

[2020-05-21 15:36] JShabtai commented on #16
@suryart Would it be possible to add a note in the README point out that this is not public yet?  Since this repo is public, this might cause some confusion (and, apparently, already has).

I think just a small header near the top would go a long way.

[2020-05-22 06:17] suryart commented on #16
Point noted. Apologies if this has caused confusion.

[2020-06-12 09:44] kartikeypokhriyal7000 commented on #16
Just for my clarification , is it not in use for non-subscribed users or any user in general ?

[2020-06-12 11:40] suryart commented on #16
Any user in general. Reach out to sales or your account manager for further assistance on this.

[2020-07-15 16:13] suryart commented on #16
An update.

BrowserStack's Cypress support is in Public Beta - https://www.browserstack.com/automate/cypress

Anyone with an Automate account should be able to run Cypress tests on BrowserStack. 🤟

[2020-07-28 13:59] persocon opened #44 "error: Build creation failed. Error: null"
[code]

my `cypress.json` is empty tho, it should get the default one from cypress?

[2020-07-28 14:06] persocon commented on #44
nevermind, my `build_name` was an emoji :D

[2020-07-28 14:06] #44 closed

[2020-08-25 22:35] webunderconstruction opened #47 "Enable ignore section in browserstack.json"
My project has a sub-project with its own `node_modules` folder.

This folder is being included in the `tests.zip` file making it much larger than it needs to be, it is also making it fail once uploaded.

It would be nice to have an ignore section within the browserstack.json config to exclude files/folders.

[2020-08-26 14:00] srebs commented on #47
Hey @webunderconstruction, interesting use case. I guess we could achieve this by adding a new CLI config flag to exclude certain files & folders.

As an immediate workaround, is it possible for you to move your tests into a subdirectory for now?

[code]

[2020-09-04 11:16] reszkapiotr opened #56 "Fetch polyfill"
Hello, I'm facing issue with running tests which includes stubs for fetch. Neither cypress version 5.0.0 with experimentalFetchPolyfill nor 5.0.1 with experimentalNetworkStubbing is working for me.
Could you please advise how this could be fixed?
Thanks

[2020-09-04 12:50] shawnlobo96 commented on #56
Hey @reszkapiotr

Are you able to execute a test locally? If not, the same would also apply when executing a test on Browserstack.

However, if it is only failing on Browserstack but passing locally, could you share the build ID with us on support@browserstack.com?

[2020-09-15 06:01] suryart commented on #47
This is fixed in v1.4.0.

[2020-09-15 06:01] #47 closed

[2020-09-24 02:00] webunderconstruction opened #60 "Tests.zip generating excessive large file (GBs)"
Using the below configuration on Mac OS and running the cli, the command never finished and was generating a `tests.zip` file gigabytes in size.

Running cli version 1.4

[code]

[2020-09-24 03:47] webunderconstruction commented on #60
Looks like my global install version was still on 1.3, closing issue

[2020-09-24 03:47] #60 closed

[2020-09-24 22:30] webunderconstruction opened #61 "How to specify mobile device?"
I see the default list of gives you many desktop browsers to test against, but what about mobile devices such as iphone and android?

[2020-09-24 22:53] HeenaNanwani8 commented on #61
Hey @webunderconstruction, currently you won't be able to execute your Cypress tests on Mobile Browsers on BrowserStack as the same is not supported by Cypress as well.

[2020-09-25 00:17] webunderconstruction commented on #61
Thanks for the update @HeenaNanwani8

Hopefully Browserstack can push hard for cypress / mobile device integration, I feel paying for Browserstack for desktop only isn't getting value for money.

[2020-09-25 00:17] #61 closed

[2020-10-02 07:36] kalpeshchilka opened #63 "How to run cypress.json file of different name using cypress_proj_dir key other than cypress.json file name"
Currently, I have different cypress.json files for each environment. E.g -  cypress-qa.json and cypress-dev.json. How can we run a specific cypress-env.json file using **"cypress_proj_dir": "./",**.
I am running my tests locally by invoking these cypress-env.json files using the environment specific bash files, as per my build environment need.
Can we achieve the same using BrowserStack by mention

[2020-10-06 13:27] Namrata-m13 commented on #63
@kalpeshchilka This feature will be available in the next release of the browserstack-cypress-cli, which is scheduled in the coming weeks.

[2020-10-06 13:34] kalpeshchilka commented on #63
Thank you for the update. Awaiting for the new release!

[2020-10-09 08:49] suryart commented on #63
This is fixed by #54

We've released [v1.5.0](https://www.npmjs.com/package/browserstack-cypress-cli/v/1.5.0) with the changes, which supports custom cypress config JSON.

Please see the docs for more details - https://www.browserstack.com/docs/automate/cypress/configuration-file

[2020-10-09 08:49] #63 closed

[2020-10-09 18:38] bdefore opened #68 "options.uri is a required argument"
I'm unable to get started with Browserstack Cypress. I'm running 1.5.0. I've tried using browerstack-cypress-cli both locally and globally, installed via yarn. Here's my config (mostly unchanged from the docs):
[code]
And the output:
[code]
This is pointing to a Cypress config I'm able to run via Cypress directly outside of Browserstack.

[2020-10-10 05:38] kalpeshchilka opened #69 "Not allowing to create Browserstack configuration file of some specific name."
As per the Pro Tip in the doc -https://www.browserstack.com/docs/automate/cypress/cli-reference#generate-configuration-file

I've tried creating different BrowserStack configuration files for every environment as per doc - https://www.browserstack.com/docs/automate/cypress/cli-reference#generate-configuration-file
Running below command:

    browserstack-cypress init browserstack.staging.json

Get

[2020-10-12 05:57] suryart commented on #69
I guess the file `browserstack.staging.json` already exists on your system on the given path.

Running the command for the first-time generates the file:

[code]
Listing it:

[code]

Re-running the same would result in the error message provided:

[code]

You'd need to remove the file before generating the same again.

[2020-10-12 05:57] #69 closed

[2020-10-12 08:38] suryart commented on #68
Are you using/setting ` NODE_ENV` in the shell? It seems like the custom env is picking up the NODE_ENV and trying to do a lookup on a URL that doesn't exist.

If yes, then can you try without setting it? Is there any specific case for using it?

[2020-10-14 09:43] suryart commented on #68
@bdefore - This issue should be fixed in [v1.5.1](https://www.npmjs.com/package/browserstack-cypress-cli/v/1.5.1). Let us know in case of any issues.

[2020-10-14 14:34] bdefore commented on #68
thanks @suryart i can confirm i no longer get this issue.

[2020-10-14 14:34] #68 closed

[2020-10-14 15:54] bdefore opened #74 "cannot add run to a queue even when thread is available"
I'm seeing the following error when trying to run from `browserstack-cypress run`: `Build creation failed. Error: All parallel tests are currently in use, including the queued tests. Please wait to finish or upgrade your plan to add more sessions.` If I look at my dashboard, I see near Parallel Threads: 10 running, 0 queued. Not sure if the issue lies with Browserstack's API or this library.

[2020-10-14 19:15] wati123321 commented on #74
Hi @bdefore ,

Could you check the parallels you have allocated for your execution in browserstack.json file?
Kindly refer to the run settings block to check the number of parallels provided.
For eg:
"run_settings": {
    "cypress_config_file": "./cypress.json",
    "project_name": "My sandbox project",
    "build_name": "Build no. 1",
    "parallels": "5"
}
Ref : https://www.browserstack.com/docs

[2020-10-15 15:19] bdefore commented on #74
i was able to work around this by setting parallels to `1` (from 5) although I'd still expect it to work with an empty queue.

[2020-10-15 15:20] bdefore opened #75 "error output in browserstack test run shows it's using outdated Cypress version of 4.12"
Is this expected? I'm using features in version 5, specifically 5.3.0
[code]

[2020-10-15 23:33] ivan-xue-prospa opened #76 "specify private npm package in "npm_dependencies""
In my project, I can use import to import some npm modules in my tests and it works fine for Cypress directly. When I tried to integrate with browserstack-cypress-cli, I got module import error  like below

`Error: Can't walk dependency graph: Cannot find module 'moment' from 'C:\Users\hello\Documents\documents\cypress_test\cypress_test_folder\cypress\pages'
    required by C:\Users\hello\Document

[2020-10-15 23:38] ivan-xue-prospa commented on #76
Another issue is about reporter in Cypress, I specified the reporter in cypress.json and it works fine.

`{
  "defaultCommandTimeout": 90000,
  "pageLoadTimeout": 90000,
  "video": false,
  "chromeWebSecurity": false,
  "reporter": "./reporter.js"
}`

But when I tried to run from browserstack, I got the following error

`Could not load reporter by name: ./reporter.js

We searched for the reporter

[2020-10-16 02:47] shawnlobo96 commented on #76
Hey @ivan-xue-prospa

When executing a test on Browserstack, the npm dependencies need to be specified in the `browserstack.json` file.

You can take a look at https://www.browserstack.com/docs/automate/cypress/npm-packages

One of the limitations is the ability to specify a private npm package. Currently, this is **not supported**.

From what you've shared, if the reporter depends on the private

[2020-10-16 02:50] ivan-xue-prospa commented on #76
Hi @shawnlobo96 Thanks for your explaination.

[2020-10-16 02:50] #76 closed

[2020-10-16 15:46] bdefore opened #77 "browserstack.json must contain auth object even if relying on environment variables"
If relying on i.e. BROWSERSTACK_USERNAME environment variable, browserstack.json must contain `auth: {}` or else this error occurs: `Cannot set property 'username' of undefined`. Would be better if it worked as well without an empty object present.

[2020-10-16 16:48] Namrata-m13 commented on #75
@bdefore Do you encounter the same error when executing the tests on your system using version 4.12?
Also, a build-id/session-id for the shared error will be quite helpful in further debugging.

[2020-10-16 17:07] bdefore commented on #75
i haven't tried to run on 4.12 locally, but here is a build id:
494333442ccccced7478f87cba49c7b6dd1c4931
and session id: 9e8f3a0367af246050ea35e3fbf55418d6a94792. i see the output
of a 4.12 version in the console logs towards the end

On Fri, 16 Oct 2020 at 12:48, Namrata-m13 <notifications@github.com> wrote:

[2020-10-26 10:57] suryart commented on #74
Hey @bdefore

Please feel free reach out to support@browserstack.com for assistance on this issue.

[2020-10-26 10:57] #74 closed

[2020-10-27 20:42] brandonwkipp opened #80 "Specifying npm_dependencies does not seem to work correctly"
Hey there,

I'm trying to evaluate `Browserstack` and I can't seem to get my config to play nice with this tool. I'm trying to use the `cypress-axe` dependency by including it in my config like this:

[code]

When I run `browserstack-cypress run` and check the Dashboard, the test fails with this output:
[code]

I've read the docs and I don't think I'm missing anything, but I'm almost out of free m

[2020-10-28 14:29] Namrata-m13 commented on #80
@brandonwkipp to debug this further, could you please share the respective build id or session id as well as other required details with the BrowserStack support team over support@browserstack.com?

[2020-10-29 22:01] Namrata-m13 commented on #75
@bdefore To debug this further, could you please try the below-mentioned steps-
1. Try running the specs on Cypress v4.x locally. Preferred 4.12
2. The test which is trying to load a file is not inside the test directory. Could you please move that file to within the same level or level down the browserstack.json?

[2020-10-30 00:17] webunderconstruction commented on #80
@Namrata-m13 getting the same issue, error popped up 4 days ago, cypress config hasn't changed

[2020-10-30 03:44] ivan-xue-prospa opened #81 "Uploading .npmrc file is failing"
For our projects, we need to install some private mode modules, so I updated the archiver.js as following to zip .npmrc file

`Constants.allowedFileTypes.forEach(fileType => {
      archive.glob(`**/*.${fileType}`, { cwd: cypressFolderPath, matchBase: true, ignore: ignoreFiles, dot: true });
    });`

But the tests failed due to the following error

`error: Please make sure you are uploading files

[2020-10-30 03:45] ivan-xue-prospa commented on #81
If we can make this change, I will create one PR for this.

[2020-11-02 21:44] brandonwkipp commented on #80
It looks like this issue is not caused by Browserstack and is instead caused by [a regression](https://github.com/component-driven/cypress-axe/issues/70) within the `cypress-axe` library. The regression has since been fixed and upgrading to the patched version (0.9.1) fixes the issue.

[2020-11-02 21:44] #80 closed

[2020-11-06 15:54] Namrata-m13 commented on #77
@bdefore A fix for this has been deployed. Let us know if it works for you as well.

[2020-11-06 17:10] bdefore commented on #77
i'm still seeing 1.5.1 as the latest in npm. is there another release you'd like me to try?

[2020-11-09 11:45] suryart commented on #81
Hey @ivan-xue-prospa,

This issue is addressed in the v1.5.2 release.

[2020-11-09 11:45] #81 closed

[2020-11-09 11:46] suryart commented on #77
Hey @bdefore,

This issue is addressed in the v1.5.2 release.

[2020-11-09 11:46] #77 closed

[2020-11-23 10:41] dkryshtopenko opened #93 "Tool doesn't support Cypress experimental features"
experimental features are enabled:
[code]
I run my tests using cy.route2 on Browserstack and get the next error:
<img width="898" alt="Screenshot 2020-11-23 at 2 02 19 PM" src="https://user-images.githubusercontent.com/72011031/99959884-8255c180-2d94-11eb-98a3-e8821c33840e.png">

**Locally works fine.**

What is workaround? I need to use cy.route2 api method for mocking HTTP requests.

[2020-11-23 10:42] dkryshtopenko commented on #93
My `browserstack.json` file
`{
    "auth": {
        "username": "*",
        "access_key": "*"
    },
    "browsers": [
        {
            "browser": "chrome",
            "os": "Windows 10",
            "versions": [
                "latest"
            ]
        }
    ],
    "run_settings": {
        "cypress_config_file": "./cypress.json",
        "project_name": "project-name",
        "bu

[2020-11-23 14:52] wati123321 commented on #93
route2 is released in Cypress v5.x as a feature. We are still on Cypress v4.x on BrowserStack so we don’t currently support this. Once we start supporting Cypress 5, you will be able to use this.

[2020-11-24 13:38] dkryshtopenko commented on #93
@wati123321 6.0 have just released. Do it 👍

[2020-12-09 06:32] karanshah-browserstack commented on #93
Hi, This should be fixed in v1.6.0 which we released yesterday. Please feel free to reach out to us if you still feel any issues .

[2020-12-09 06:32] #93 closed

[2020-12-09 06:32] karanshah-browserstack commented on #75
Hi, This should be fixed in v1.6.0 which we released yesterday. Please feel free to reach out to us if you still feel any issues .

[2020-12-09 06:32] #75 closed

[2020-12-09 06:32] karanshah-browserstack commented on #56
Hi, This should be fixed in v1.6.0 which we released yesterday. Please feel free to reach out to us if you still feel any issues .

[2020-12-09 06:32] #56 closed

[2020-12-09 10:08] dkryshtopenko commented on #93
@karanshah-browserstack what is Cypress version in BrowserStack now?

[2020-12-09 10:26] karanshah-browserstack commented on #93
@dkryshtopenko We currently support 5.5.0 Cypress version and soon will start supporting v6 too.

[2020-12-09 10:27] karanshah-browserstack commented on #93
You can follow https://www.browserstack.com/docs/automate/cypress/supported-versions on how to use different versions.

[2021-02-09 12:47] jhfdx8 opened #109 "browserstack-cypress run --sync exits before end of test, with local install in monrepo"
### Problem:
`browserstack-cypress run --sync` exits before end of test, with local install of `browserstack-cypress-cli` in lerna monorepo.  But it should wait for the end of the test.

That is, with globally installed `browserstack-cypress-cli`, it shows "All tests…" test status, but locally installed one in monorepo exits before then.

Note: If you install it globally (`npm install -g`), or don

[2021-02-10 11:08] HeenaNanwani8 commented on #109
hey @jhfdx8, could you kindly share all the above-mentioned details on support@browserstack.com?

[2021-02-15 12:11] suryart commented on #109
The issue is fixed in https://github.com/browserstack/browserstack-cypress-cli/pull/112. Please upgrade the CLI to v1.7.1

[2021-02-15 12:11] #109 closed

[2021-03-08 23:20] ivan-xue-prospa opened #123 "No video is captured in BS"
I set video as true in cypress.json file, but when I check the session in BS, there are no videos captured.

[2021-03-09 00:02] shawnlobo96 commented on #123
@ivan-xue-prospa Can you share the build ID with support@browserstack.com?

[2021-03-09 00:06] ivan-xue-prospa commented on #123
Dear Support

I was using browserstack-cypress-cli to run tests in BS and configured video as true in cypress.json, but there are no videos captured for the build - https://automate.browserstack.com/dashboard/v2/builds/d81a83798355b282a00b2dc1e949186dd878a73a

Ivan Xue
Software Developer in Test
T 1300 882 867
Lvl 1, 4-16 Yurong St, Sydney 2000
prospa.com
The information contained in this email is

[2021-03-09 06:08] SagarGaniga commented on #123
This is an issue from Cypress side (Chrome 87+ and Cypress versions below v6), explained here: https://github.com/cypress-io/cypress/issues/9265

They fixed it in v6, try running builds on v6+ using `cypress_version` as shown in https://www.browserstack.com/docs/automate/cypress/supported-versions

[2021-03-12 14:50] suryart commented on #123
Closing as the issue is explained in cypress-io/cypress#9265

[2021-03-12 14:50] #123 closed

[2021-03-14 23:59] ivan-xue-prospa opened #125 "The 'task' event has not been registered in the plugins file. You must register it before using cy.task()"
I was trying to delete one file before running any tests, but I got the above error. Below is my index.js file

[code]

[2021-03-15 09:16] suryart commented on #125
Hey @ivan-xue-prospa

Can you send an email to support@browserstack.com with the build ID detail?

[2021-03-15 09:24] ivan-xue-prospa commented on #125
The error happens in local

[2021-03-15 09:27] #125 closed

[2021-03-15 15:40] captain-yossarian opened #126 "Unable to run : browserstack-cypress run --sync"
Hi,
After `browserstack-cypress run --sync` I'm receiving:
[code]

Could you please help me ?

[2021-03-15 22:04] shawnlobo96 commented on #126
@captain-yossarian This seems to be due to a network issue. Possibly due to SSL inspection on the proxy (if any) on your network.

Can you try to run a test while connecting to a different network?

[2021-03-16 09:45] luisherranz commented on #126
We are also having problems and are unable to run it in either GitHub Actions and my local machine (macOS).

The error is `Internal Server Error` in both cases and then this appears in the console:

[code]

I went back to version `1.7.1` because I noticed that there is a new `1.8.0` version from 4 days ago, but doesn't seem related to that.

This is the log in my machine:

[code]

And the same hap

[2021-03-16 14:27] captain-yossarian commented on #126
@shawnlobo96  Hi , thanks for response.
You are right. It was a problem with firewall.
Unfortunately, I still have a problem. I was able to run desktop app, but still has same error. Can't find in docs the exact configuration for cypress.
For instance, there is a nice [guide](https://automate.browserstack.com/dashboard/v2/quick-start/get-started#run-sample-build) about selenium but not about cypre

[2021-03-17 13:25] suryart commented on #126
@captain-yossarian : Did you face the same issue while re-trying? Can you please check the network? Look for any firewall rule or a proxy setting on your system. If it still fails despite having the right network. Try doing a curl on `https://api-cloud.browserstack.com` in verbose mode and check which step it is failing and provide us with that curl log in comments.

[2021-03-17 14:36] captain-yossarian commented on #126
@suryart  thanks for your reply. It is working now. It was firewall isue and my stupidity )))
Feel free to close the issue

[2021-03-17 15:11] captain-yossarian opened #130 "Unable to configure cypress.json"
So, I'm able to connect with dashboard, but it is looks like for some reason my old cypress.json config is wrong

Here is the error:
![cypress-error](https://user-images.githubusercontent.com/16646733/111490365-424b8d80-873b-11eb-8225-d319891a6ddc.png)

I don't understand why `browsers` is required, since all allowed browsers I defined in browserstack.json
My **cypress.json**

[code]

My **browser

[2021-03-17 15:44] suryart commented on #130
I will encourage you to email the details to support@browserstack.com for any support-related queries/product issues. We're considering issues on this repository for the CLI-related bugs/problems.

Thank you for your understanding. :)

[2021-03-17 15:44] #130 closed

[2021-03-23 07:06] ivan-xue-prospa opened #132 "custom reporter is not working"
I added custom reporter in cypress.json and it works fine when doing cypress run - generating failure.log.
But when I run the tests in BS, the custom reporter is not considered and no failure.log is generated.
[code]

reporter.js
[code]

[2021-03-23 11:22] Jaimin180296 commented on #132
@ivan-xue-prospa You can generate the reports using the CLI functionality as mentioned in the following link, https://www.browserstack.com/docs/automate/cypress/generate-reports.

We will let you know once we have added a support custom report on Cypress. Meanwhile, you can use the above-mentioned method to generate reports using Cypress on BrowserStack.

[2021-03-26 05:41] LabEG opened #133 "Could not reach BrowserStack APIs. Please check your network or see if you need to whitelist *.browserstack.com"
Can't run test in browserstack:
[code]

Firewall and antivirus are disabled:
[code]

[2021-03-26 09:51] suryart commented on #133
For testing whether the API is reachable. Create a zip file on your system(say `tests.zip`) and then try running the following:

    export credentials="USERNAME:ACCESS_KEY"
    curl -vvv -u "$credentials" -X POST https://api-cloud.browserstack.com/automate-frameworks/cypress/upload -F "file=@./tests.zip"

Change the `USERNAME` and `ACCESS_KEY` values with the actual values from your account.

Ple

[2021-04-23 14:23] theVoogie commented on #76
Did you manage to make it work @ivan-xue-prospa ?

[2021-04-26 12:59] theVoogie opened #137 "Custom reporter in Cypress config doesn't work in Browserstack"
I'm using Cypress to run my e2e testing on Browserstack. I'm using `junit` reporter which is configured in the cypress.json. When I'm running tests locally test results are generated according to the format (i.e junit). However, when I'm running testing in Browserstack and fetch the results, they are not following the cypress config and are returned as mocha report files (json/html) instead of jun

[2021-04-26 13:29] HeenaNanwani8 commented on #137
Hey @theVoogie, currently, there is no way to retrieve the reports generated on the remote machine.  On BrowserStack, you can generate the HTML report for your test builds. More details on https://www.browserstack.com/docs/automate/cypress/generate-reports.

[2021-05-19 15:08] vilkg commented on #132
Hey! Do you have any timeline for when this feature will be supported? Generate-reports is not a very good alternative for everyone.

[2021-05-19 15:18] suryart commented on #133
@LabEG - Are you still facing this issue? Can you please reach out to support so that it can be resolved as quickly as possible?

[2021-05-19 15:18] #133 closed

[2021-05-28 19:56] RavirahulPadmanabhan opened #139 "No log data to debug connectivity issue"
We are trying to integrate this in our Azure DevOps CICD pipeline running on self-hosted on-prem agent and facing below connectivity issue.

We are able to telnet browserstack.com from agent. we could not see any detailed error to debug.

**Log:**
[code]

[2021-06-02 14:28] karanshah-browserstack commented on #139
Can check if you could ping the below url's ?
`https://api.browserstack.com` & `https://api-cloud.browserstack.com/automate-frameworks/cypress/upload`

[2021-06-02 20:06] RavirahulPadmanabhan commented on #139
@karanshah-browserstack - We are able to connect with `api.browserstack.com` & `api-cloud.browserstack.com` on port `443`. However, our requests are not accepted by destination servers. Is there any validation being performed at browserstack servers?

**Telnet:**
[code]

**Curl:**
[code]

**Curl with log:**
[code]

[2021-06-03 14:19] harsh-browserstack commented on #139
Hi Ravirahul,

Your query is being investigated by Browserstack support and the same can be found with the Ticket no. 439473. Do kindly share your query there and we will help you resolve your query.

Thanks,
Harsh

[2021-06-06 21:44] riffdr opened #141 "Specifying multiple npm_dependencies in run_settings section within browserstack.json"
Howdy,

I am trying to use the tests runners from browserstack while running my Cypress tests within my FE project. I wanted to ask what the suggested approach might be when working within a project with multiple npm dependencies, I have over 100+ declared in my monorepo which I cannot declared manually within the `npm_dependencies` section of the file `browserstack.json`. I could generate a templ

[2021-06-07 10:36] riffdr commented on #141
by tool, I mean whether this cli supports a way of doing it

[2021-06-08 08:50] suryart commented on #141
The CLI does not support generation of `npm_dependencies` automatically, it will have to specified manually.

[2021-06-16 02:08] ivan-xue-prospa opened #144 "Enable force-local for BrowserstackLocal binary file"
Do we have any flag in config file to start BrowserstackLocal binary file with --force-local?

[2021-07-07 17:45] Michel73 opened #146 "Exitcode != 0 if test fails"
For CI it is essential that exit code is something other then 0 if test fails or anything else goes wrong.

[2021-07-12 14:47] Michel73 commented on #146
It works for me with version 1.8.1.

[2021-07-12 14:47] #146 closed

[2021-07-13 12:34] shawnlobo96 commented on #144
Hey @ivan-xue-prospa it is possible to set force-local by specifying it in a YAML config file.

Documentation: https://www.browserstack.com/docs/automate/cypress/local-testing

[2021-07-28 14:09] brunano21 opened #150 "Add option to pass proxy details to CLI"
Hi,
With BrowerstackLocal, we can pass proxy information, in case we are behind a (corporate) proxy. https://www.browserstack.com/docs/automate/cypress/local-testing/proxies-firewall-vpn

`browserstack-cypress-cli` doesn't allow to do that making impossible to reach out a staging server.
Is there anything we can do in this regard?

[2021-07-28 20:18] wati123321 commented on #150
Hey @brunano21,
Can you give me more details about your use case?
Are you trying to trigger a test from behind a proxy or is your staging server located behind a proxy?

[2021-08-16 06:15] brunano21 commented on #150
@wati123321 sorry for the late response.
Yes, I'm trying to run tests against a staging server, which is not publicly accessible.

[2021-08-16 13:49] brunano21 commented on #150
In the specific, as part of the tests execution, `browserstack-cypress-cli` uploads a `tests.zip` finel onto Browsersack Infrastructure to run the tests.
However, our pipelines don't have any connectivity with the *outside world*, but they have an outbound proxy towards browserstack. So I'd like to know how we can configure `browserstack-cypress-cli` to use the outbound proxy details.

[2021-08-19 06:34] brunano21 commented on #150
@wati123321 any update on this?

[2021-08-30 19:24] crazyvan25 opened #157 "browserstack-cypress run --sync fails with 'Error: All parallels are currently in use'"
`browserstack-cypress run --sync` fails intermittently with:

[code]

and exits with a 0 (success code).

When this occurs, the BS Dashboard shows 8/80 Parallels and 0/80 Queued.

We are using;

[code]

ID of the last successful build:
7a169c66ce79231e0865d3c5a96428483c6516b4

[2021-08-30 19:34] shawnlobo96 commented on #157
@crazyvan25 I believe you raised ticket #485613 with support@browserstack.com. The team will get back over email.

[2021-08-30 20:55] suryart commented on #150
@brunano21  Can you share the complete logs/stack trace?

[2021-09-14 09:23] karanshah-browserstack commented on #132
Will be fixed by #151

[2021-09-14 09:24] karanshah-browserstack commented on #137
Will be fixed by #151

[2021-09-14 09:25] karanshah-browserstack commented on #139
@RavirahulPadmanabhan Did the issue got resolved post whitelisting of the url's?

[2021-09-20 07:13] suryart commented on #141
Hey @riffdr

Were you able to resolve this issue?

[2021-09-20 07:15] suryart commented on #144
Hey @ivan-xue-prospa : Is the force local still an issue?

[2021-09-20 08:07] riffdr commented on #141
Howdy,

As I said in my last msg, you have no choice but to specify the
npm_dependencies manually.

El lun, 20 sept 2021 a las 9:14, Surya Tripathi ***@***.***>)
escribió:

--
Miguel A. Zarate, PhD

[2021-09-20 15:28] irbrad opened #162 "--sync flag no longer working on GitHub Actions"
I've been using browserstack-cypress-cli for a while now via a GitHub action and am recently noticing that it's not honoring the --sync flag.

[code]

The command being run is as follows.  I have also tried it with _--sync true_.
`npx browserstack-cypress-cli --ccf cypress.qa.json -p 1 --sync --local false --build-name=build-qa-${{ github.sha }} run`

[2021-09-21 06:19] suryart commented on #141
Usual process is to copy the node modules from the package.json and specify the object in `npm_dependencies`.  It gives you the flexibility to choose those packages which are essential to run tests rather than installing all of them(like express etc.).

Closing this since there are no further actions required.

[2021-09-21 06:19] #141 closed

[2021-09-21 09:26] karanshah-browserstack commented on #162
@irbrad We have noted the issue, meanwhile while we release the fix, you can use the following command in your jenkins to solve this issue.
`npx browserstack-cypress-cli --ccf cypress.qa.json -p 1 --sync --no-wrap --local false --build-name=build-qa-${{ github.sha }} run`

[2021-09-21 14:41] karanshah-browserstack commented on #157
@crazyvan25 This happens when you try to trigger the tests on more number of combinations/parallels which exceeds your current available + queue limit. Try reducing them and that should solve the issue.

[2021-09-21 14:41] #157 closed

[2021-09-28 09:56] #132 closed

[2021-09-28 09:56] #137 closed

[2021-09-30 10:00] #162 closed

[2021-10-01 12:58] christemple opened #168 "Cannot find module 'unzipper'"
I'm currently trying to upgrade from `1.8.1`, there's an issue with `1.9.0` whereby the CLI no longer waits for the browserstack build to finish (as if `--sync` isn't making a difference), so I thought I'd try bumping to `1.10.0`, however now I'm getting the following error:
[code]

I had a quick look and seen that `unzipper` is only in the `devDependencies` of this NPM package, should it be a `de

[2021-10-01 13:55] karanshah-browserstack commented on #168
@christemple Thanks for pointing this out, we are working on this and will release a patch soon.

[2021-10-01 13:56] #168 closed

[2021-10-01 14:13] christemple opened #170 "Incorrect exit code when failing to install npm dependencies"
I noticed that when I've forgotten to update the `npm_dependencies` versions in the `browserstack.js`, and Browserstack fails to run the build, running `browserstack-cypress run --sync --config-file browserstack.js` does not return a failure/error exit code on the commandline, it proceeds as if everything is fine.

Here's an example of the output on one of these runs if it helps:
[code]

Running t

[2021-10-01 15:05] karanshah-browserstack commented on #170
@christemple Can you please update to the latest CLI version v1.10.1? There was a bug in v1.9.0 where on some of the ci machines the report wasn't generating properly.

[2021-10-01 15:23] #144 closed

[2021-10-01 15:23] karanshah-browserstack commented on #144
Closing this due to inactivity.

[2021-10-04 12:45] christemple commented on #170
@karanshah-browserstack I've updated to the latest version, it has fixed the previous --sync issue I experienced in v1.9.0, but I'm still experiencing an issue with v1.10.1... this may not have been introduced recently, it's possible I've just discovered it after investigating build issues.

Whenever there is a `NPM_INSTALL_FAILED` failure, it does not send back the correct exit code to cause the

[2021-10-04 12:46] karanshah-browserstack commented on #170
@christemple Noted.

[2021-10-20 10:25] nagpalkaran95 commented on #170
Will be handled in https://github.com/browserstack/browserstack-cypress-cli/pull/175

[2021-11-23 10:32] roydejager opened #178 "Unable to retrieve local enviroment variable for npmrc"
I have an npmrc file which contains an auth token stored within my .bash_profile.

When trying to run cypress through browserstack I get an error that this environment variable cannot be found. This package is also not included in the npm_dependencies, so after putting any hardcoded string in the npmrc file it will work. Is it possible to put in local environment variables or am I doing something

[2021-11-23 14:49] Jaimin180296 commented on #178
It seems that you are using sys_env_vars instead of system_env_vars, as a result, the env vars are not getting recognized. Follow this doc: https://www.browserstack.com/docs/automate/cypress/test-environment and also make the changes required changes in plugins/index.js as per this doc if not done.

[2021-11-23 15:43] roydejager commented on #178
@Jaimin180296 I see that after changes sys into sytem it works now. Thank you very much.

[2021-11-23 15:43] #178 closed

[2021-11-29 15:52] roydejager opened #179 "Browserstack ignores doesn't read local config file"
I'm trying to setup local testing which requires the setting force_local to be on. However no matter what I try the local_config_file doesn't seem to be read out.  I've tried changing the local-indentifier or provide the access key through the local_config_file but these values don't seem to change anything. Am I missing something as to why the local_config_file doesn't seem to get read out?

Brow

[2021-11-29 16:39] shawnlobo96 commented on #179
@roydejager can you share a build URL of one of the runs with the config on support@broserstack.com?

[2021-12-01 15:23] Halt001 commented on #179
Same problem here. I'm running on a Mac and I can see in the Activity monitor that BrowserStackLocal is indeed started with --config-file /full/path/to/config-file.yml but it doesn't seem to do anything with the values in it.

For testing I've also put an invalid path in the "local_config_file" setting but it doesn't seem to mind and doesn't give an error. This is also an indication that it the Br

[2022-03-01 04:56] abhijeetj100 opened #263 "Run cypress tests using the default browser "Electron""
Hi,

I have been working on writing Cypress tests and am running them on BrowserStack using "browserstack-cypress-cli". I just wanted to know if it would be possible to run these tests on cypress's default browser, `Electron`, on BrowserStack instead of Chrome/Edge/Firefox.

Please let me know if this would be possible.

Thanks,
Abhijeet

PS: Apologies if this is the wrong place for this question,

[2022-03-01 05:00] Jaimin180296 commented on #263
@abhijeetj100  You can run the cypress test on BrowserStack on Chrome, Firefox, Edge only.

You can refer to this link: https://www.browserstack.com/docs/automate/cypress/browsers-and-os

[2022-03-04 10:45] bingnz opened #267 "Add option to include additional file types in the .zip archive"
Our project is structured as a monorepo and we have two Cypress projects that use a shared library that's also part of the monorepo.
It'd be useful to be able to package this library locally and reference the .tar.gz file as an npm package, but this isn't one of the file extensions that can be included in the package.
This might also help in working around issues with private npm repositories.

I

[2022-03-09 09:33] bingnz commented on #267
Thanks @nagpalkaran95; that seems like it'll work.

[2022-03-09 09:37] nagpalkaran95 commented on #267
Yes. Planning to push it in the next cli release. Until then if you are stuck, you can take the latest master pull and run your tests. Let us know if you have use cases of any other file types.

[2022-03-09 20:50] debosmita-29 opened #277 "ReportPortal.io integration is not supported with BrowserStack-Cypress Runs"
We currently leverage BrowserStack-Cypress-CLI to run our regression tests and we want it to be integrated with ReportPortal.io but the integration is not supported for the BrowserStack-Cypress runs. While our other tests that execute Cypress run command does integrate well with ReportPortal.io. We have a use-case to get real-time reporting from our regression tests as well which is blocked becaus

[2022-03-10 08:50] ToygarE opened #279 "Alternative for request package"
https://www.npmjs.com/package/request

The browserstack-cypress-cli makes use of the request package (2.88.0) which is deprecated.

Is there any options to change this package and use another one instead?

[2022-03-14 11:48] sourav-kundu commented on #277
@debosmita-29 Could you point to the exact integration steps that you do locally or share a link to a sample where this integration works out of the box, for us to be able to reproduce it on our end?

[2022-03-14 12:31] bingnz opened #282 "The tool assumes that the npm packages are installed using the same OS that will run the tests"
I've run into lots of issues with running tests with results from BrowserStack that look like this:

[code]

I suspect that this might be happening because I build the test package using a Docker container on Linux, but the machine running the tests uses Windows.
Using cached packages for one OS and then trying to unzip them onto another OS is not going to work a lot of the time. I don't think the

[2022-03-14 13:20] pranavj1001 commented on #282
Hey @bingnz ,

Thanks for bringing up this issue, while we look into this issue, if possible can you please share the list of npm_dependencies that you are using for your build?

Meanwhile, to circumvent this issue can you try setting `cache_dependencies ` to `false` inside `run_settings` of your `browserstack.json`. Let us know if that solves your issue for now.

For more info, please visit this

[2022-03-16 11:42] nagpalkaran95 commented on #267
CLI ver 1.13.0 released with the support for more file types.

[2022-03-16 11:42] #267 closed

[2022-03-16 11:47] nagpalkaran95 commented on #170
@christemple We made some changes in recent CLI releases which handles the case if npm install fails on the build level (for all sessions) we exit with non zero exit code (with exception as well).
Can you update the CLI to latest version and let us know if it's still an issue?

[2022-03-16 11:48] nagpalkaran95 commented on #150
Closing this due to inactivity. Re-open if needed

[2022-03-16 11:48] #150 closed

[2022-03-17 09:44] Inderjeet0007 commented on #282
Hello @bingnz

Would it be possible for you to reach out to us (for the same issue) via support@browserstack.com?

[2022-03-19 13:15] bingnz commented on #282
Thanks! Yes I've already done so a few days ago. I've had a few different problems, sometimes I get the npm issues as above and sometimes the build runs for two hours and then fails.

[2022-03-22 07:22] nagpalkaran95 commented on #139
Closing due to inactivity. Reopen if needed.

[2022-03-22 07:22] #139 closed

[2022-03-22 07:23] #263 closed

[2022-03-22 07:47] nagpalkaran95 commented on #279
Hey @ToygarE
We have made a note and will get back on this. Shouldn't be an issue right now as currently no major issues have been seen due to this.

[2022-03-23 19:42] vmcruz opened #285 "Incorrect exit code when tests fail"
Whenever tests from cypress fail, I'd expect the exit code to be different than 0. Right now I'm getting success whether the tests fail or not. For instance:

[code]

It was reported as success. I'm currently using v1.13 with Cypress 9.4.1, but this happened with v1.12.1 and Cypress 8.7.1. Not sure if this is intended, but it doesn't feel correct for a CI tool.

Noticing this issue from 1.10 all t

[2022-03-23 21:49] mrsenzy opened #286 "Unable to run browserstack-cypress run command on Openshift"
Hi Team -

I have integrated browserstack-cypress-cli with my cypress framework and able to run test scenarios from local IDE to browserstack. While i try to run same command from openshift i get below error -

/bin/sh: browserstack-cypress: command not found

i checked the presence of node_modules\.bin\browserstack-cypress exist in this path ... still it couldnt find the command for run.

Any top

[2022-03-24 21:34] SachinMNair commented on #285
Hey Victor,

Thank you for raising this issue. We got it checked from our engineering team but they were not able to reproduce the issue that you have reported, attaching a screenshot for your reference.

Could you please raise a support ticket by dropping an email to **support@browserstack.com** and share the build ID for which you are facing this issue so that we can check it from our end?
![Scr

[2022-03-25 17:08] debosmita-29 commented on #277
Hi @sourav-kundu!
I am installing a npm package in dev dependencies
"@reportportal/agent-js-cucumber": "^5.0.2",
    "@reportportal/agent-js-cypress": "^5.0.2",

I have added this plugin `@reportportal/agent-js-cypress/lib/plugin` to our cypress/plugins/index.ts file like this
`/// <reference types="cypress" />
const browserify = require('@cypress/browserify-preprocessor');
const cucumber = requir

[2022-03-31 02:46] vmcruz commented on #285
Oh gosh, this might be an issue within my script then. I'll run some tests and get back to you with my findings. I wrongly assumed this was related to that other issue with the exit codes. I'll close it for now and reopen if needed.

Thank you for the quick help.

[2022-03-31 02:46] #285 closed

[2022-03-31 03:04] vmcruz opened #290 "cy.intercept() TypeError: mime.getType is not a function"
Hi team, we upgraded from Cypress 8.7.0 to Cypress v9.4.1 as this is the latest supported in Browserstack according to the docs https://www.browserstack.com/docs/automate/cypress/limitations

One of our tests uses [`cy.intercept`](https://docs.cypress.io/api/commands/intercept#Syntax) and after the upgrade we noticed the following error in that test:

[code]

After debugging, I found out that the

[2022-05-17 12:17] randalvance commented on #290
We also encounter the exact issue when using Cypress 9. Reverting back to Cypress 8 in browserstack.json resolves the issue.

[2022-05-31 10:43] m-hauck opened #340 "High severity vulnerabilities in dependencies"
Hi there,

I get the following four high severity vulnerabilities after installing the latest version `1.14.1`.

Is there any plan to fix the issues with updated dependencies?

[code]

[2022-06-09 04:29] bhumikababbar commented on #290
Can you try with the latest version of Cypress - 9.6.1 which is being supported by BrowserStack?
Is this issue encountered when you execute locally on your machine?

[2022-06-10 09:57] kmgalanakis opened #342 "Support for Cypress 10.0.x"
Hello. Is the CLI going to be updated to support Cypress 10.0.0 and above? Thank you

[2022-06-28 17:50] gisheri opened #364 "Failure when using a tsconfig file with 'extends'"
The browserstack cli fails to prepare test files if the tsconfig uses 'extends'. If I copy the exact tsconfig that was extended into my compilerOptions rather than using 'extends', then it succeeds. This can be problematic in cases like mine where many services extend a base config.

Repro steps:
- create any simple POC with cypress tests, but attempt to 'extend' another tsconfig file in your tsco

[2022-06-29 11:49] pranavj1001 commented on #364
So the issue here could be that the base config file might be residing at a different location wrt your `cypress.json` file. Here, you can use the `home_directory` config to solve this problem. You can find more info about it here -https://www.browserstack.com/docs/automate/cypress/home-directory

[2022-06-29 14:43] pranavj1001 commented on #340
Hey @m-hauck, can you please try upgrading to v1.16.0. We have bumped up the version and on running `npm audit`, we can see no high or critical vulnerabilities now.

[2022-06-29 14:45] pranavj1001 commented on #286
Hey @mrsenzy, are you still facing this issue? or this has been resolved?

[2022-06-29 15:04] pranavj1001 commented on #342
Hey, Cypress 10.x.x is currently in progress on BrowserStack and will be released soon.

[2022-06-30 05:53] pranavj1001 commented on #286
ack, closing this issue then. Please reopen or create a new one if you're facing any other issues.

[2022-06-30 05:53] #286 closed

[2022-07-12 09:25] KeyanNamaghi opened #369 "Firefox not running on latest for windows 10"
[code]

Browser: firefox
Version: Latest
OS: Windows 10
Cypress: 9 (9.6.1)

Expected:
* runs firefox100 and runs as expected

Actual:
* runs firefox102 and fails to run

According to https://www.browserstack.com/list-of-browsers-and-platforms/cypress_testing it should only be running 100.

Note: I haven't had time to test any other OS with firefox

(Apologies if this isn't the right place to be po

[2022-07-12 11:06] Ross-mc opened #370 "Cypress no longer supports cypress.json"
As of Cypress 10, cypress.json is no longer supported (https://docs.cypress.io/guides/references/configuration).

Browserstack-cypress-cli requires a json file in `cypress_config_file` and throws an invalid JSON parse error when I reference `cypress.config.ts` (which is to be expected as its not JSON).

[code]

[2022-07-12 11:38] pranavj1001 commented on #369
Hey @KeyanNamaghi, currently there's an open issue on cypress not able to connect to Firefox v101 and above browsers ([link](https://github.com/cypress-io/cypress/issues/22086)). Till the issue is not fixed, please run the sessions on Firefox v100 and below or use other browsers.

[2022-07-12 11:42] pranavj1001 commented on #340
Hey @m-hauck, we don't have plans for fixing this in the near future. Updating `update-notifier` library is introducing some breaking changes for `browserstack-cypress-cli`. We'll revisit this. Till then, I'm keeping this issue open.

[2022-07-12 12:34] KeyanNamaghi commented on #369
Thanks for the update, hopefully it gets fixed soon 👍

[2022-07-14 07:05] dspaeth-breuni commented on #370
more or less a duplicate of #342 ?

[2022-07-14 12:02] Ross-mc commented on #370
There is some duplication, but I am highlighting a specific issue about Cypress config and curious if there is a workaround with the current version of browserstack, I haven't been able to find anything so far.

[2022-07-18 11:25] Aditya-GBS commented on #370
BrowserStack does not support Cypress 10 as of now.
The implementation of new folder structure of Cypress 10 might take some more time
Meanwhile, Cypress.json is still supported so you may use it until then

[2022-08-03 06:20] Taapsa commented on #342
Hi, any guesstimate when this would happen, weeks, months?

[2022-08-04 22:22] rrsai commented on #370
If you're like me, you wanted to use both, and so as a workaround, point the browserstack.json config file path at a simple config file, e.g.

./cypress/blank.json and use that config file for browserstack with overrides for environment variables in your local dev environment!

[2022-08-08 05:49] pranavj1001 commented on #369
This has been fixed with the release of Firefox v103. However, sessions won't still work on Firefox 101 and 102. Closing this issue for now. Feel free to reopen or create a new one if this issue is not resolved yet.

[2022-08-08 05:49] #369 closed

[2022-08-17 08:02] manniniandrea opened #398 "1.18.0 contains breaking changes"
We use Nx to build and test our code on our pipeline in parallel, since we have more than one target running at the same time we must differentiate each cypress config file name.
For example, when we run our cypress tests these are the config file generated:
`cypress.target-1.json`
`cypress.target-2.json`
`cypress.target-3.json`

Inspecting the code we've found out that the new version of the libr

[2022-08-17 18:28] renatobenks commented on #342
hey @pranavj1001, any estimates on when BrowserStack will get support to cypress latest?

[2022-08-22 09:36] pranavj1001 commented on #342
BrowserStack now supports Cypress 10. Please update the `browserstack-cypress-cli` to start running your tests using Cypress 10 on BrowserStack.

[2022-08-22 11:17] slowjack2k commented on #342
Does this mean `cypress.config.ts` is supported as well? With my first try I got a `TypeError [ERR_UNKNOWN_FILE_EXTENSION]: Unknown file extension ".ts" for .\cypress.config.ts`

[2022-08-22 15:12] Ross-mc commented on #342
I am also having this same error. Browserstack json below:

[code]

I am using Cypress v10.3.0 and my Cypress tests run fine.

[2022-08-22 15:21] dspaeth-breuni commented on #342
I was able to get my tests running, but it was not fun. I needed to compile the `ts` files to `js`. I used `tsc  --outDir ./dist/cypress --resolveJsonModule`.

Further more it was important to add cypress, as an npm_dependencies,

[code]

because my `cypress.config.ts`  includes an

`import {defineConfig} from 'cypress';`

After this I needed to  copy some files here and there. I don't thinks it's

[2022-08-25 10:27] SachinMadhavan commented on #398
We would like to share that there’s no difference between v1.17.0 and v1.18.0 in terms of features. CLI version v1.18.0 was introduced with the same features of v1.17.0 with an additional support for Cypress v10. Hence, you do not need upgrade to v1.18.0 unless you want to use Cypress v10.
​
Additionally, the cypress_config_file key’s primary application is to pass the cypress.json file from diffe

[2022-08-25 13:38] CRoulandSpiral commented on #170
This still appears to be an issue with 1.18.0. Missing npm dependencies running cypress tests fail the run on within browserstack, but the CLI does still does not return the proper error code.

[2022-09-06 14:01] rao123dk commented on #364
This question was asked by me on stackoverflow. I was facing same issue but for that quick resolution I removed extends(I know its not ideal solution). But in cypress 10 cypress.json is no longer, so we need support of cypress10.

[2022-09-06 17:58] mrsenzy opened #399 "1.18.0 version - support for running tagged scenarios supported in Cypress 10"
Hi - Cypress 10 supports @tag scenario execution using cypress run command. Is browserstack enabled that support for it ? i couldnt find documentation related to it. We are able to run only by spec now and looking for option to run with @tag as it simplify the effort for running tagged scenarios alone.

[2022-09-06 20:44] mrsenzy opened #400 "1.18.0 - Cypress config file not accepting cypress.config.ts"
Below is the browserstack.json input provided - but while running test it display error like

[9/6/2022, 4:40:31 PM] - info: Validating the config
[9/6/2022, 4:40:31 PM] - error: cypress.json is not a valid json
[9/6/2022, 4:40:31 PM] - error: browerstack.json is not valid

{
    "auth": {
        "username": "",
        "access_key": ""
    },
    "browsers": [
        {
            "browser": "c

[2022-09-06 21:15] sharutkarsh commented on #400
Hey there,

I suppose you are trying to run the Cypress version 10 or above on BrowserStack.

Would request you to please follow this documentation and try the sample project with cypress 10.

Link- https://www.browserstack.com/docs/automate/cypress#Cypress_v10

After trying to run that sample automation script from the document if you face any further issues, please open a support ticket from thi

[2022-09-06 21:17] mrsenzy commented on #400
support ticket raised for this. closing this

[2022-09-06 21:17] #400 closed

[2022-09-23 07:27] dspaeth-breuni commented on #342
will there be typescript support for cypress 10.x in the near feature?

[2022-10-05 10:17] SachinMNair commented on #398
Hey @manniniandrea I would like to inform you that our team has released a new version of BrowserStack Cypress CLI: https://github.com/browserstack/browserstack-cypress-cli/releases (v1.19.0). Do try it out and let us know in case you face any issue.

[2022-10-05 10:21] SachinMadhavan commented on #398
Hey @manniniandrea I would like to inform you that a new version of BrowserStack Cypress CLI: https://github.com/browserstack/browserstack-cypress-cli/releases (v1.19.0) has been released. Do try it out and let us know in case you face any issue.

[2022-10-13 15:06] jjmluz commented on #398
Hi @SachinMadhavan,
We were facing the same issue as @manniniandrea with **v1.18.0** so we renamed our `cypress-e2e.config.ts` file to `cypress.config.js` to be able to run the tests.

After upgrading to **v1.19.0**, we are now able to name it `cypress-e2e.config.js` but still can't name it `cypress-e2e.config.ts`. We get the error `Your configFile is invalid` on Automate Dashboard. I have also tr

[2022-10-13 18:49] jjmluz commented on #398
Actually, you may disregard my comment above. The issue had nothing to do with the config file name.
We were able to overcome the error on Automate Dashboard by adding `typescript` to the `npm_dependencies` on `browserstack.json` file.

TLDR: `cypress-e2e.config.ts` works now! Thanks!

[2022-10-13 20:30] manniniandrea commented on #398
I can confirm that the new version definitely fixes our issues. Thank you very much.

[2022-10-13 20:48] #398 closed

[2022-10-14 17:11] pranavj1001 commented on #370
Closing this issue as BrowserStack supports Cypress 10. Make sure you update to the latest CLI. Feel free to open another issue if you're still facing any problems.

[2022-10-14 17:11] #370 closed

[2022-10-14 17:14] pranavj1001 commented on #364
BrowserStack supports Cypress 10. Here is the docs link -> https://www.browserstack.com/docs/automate/cypress Let us know if `home_directory` doesn't solve the issue.

[2022-10-19 12:13] KeyanNamaghi opened #421 "Cypress 10 config file imports not working"
returns `Cannot find module 'cypress'` when running on browserstack and seems to ignore the `npm_dependencies` inside of the `run_settings` in the browserstack.json.

Also having the same issue as others have described when trying to use typescript despite also having added typescript to the `npm_dependencies` too
[code]

[2022-10-26 19:56] CRoulandSpiral commented on #421
I recently ran into the "cannot find module `cypress`" issue as well while browserstack was trying to parse the cypress.config.js for cypress 10. Nothing changed in our config files, tests just started failing. Our workaround was to explicitly list a version of "cypress" as a dependency within the npm_dependencies, but we're not running into any issues of browserstack ignoring the npm_dependencies

[2022-10-27 00:06] #421 closed

[2022-11-18 12:29] andi1984 opened #423 "Cannot find module 'cypress', Cypress v10, cypress.config.js"
Hi,

I am trying to run Cypress v10 within Browserstack using this CLI.

Our settings are:

- `browserstack-cypress-cli` v1.19
- Using `cypress.config.js` instead of older JSON schema
- No Typescript needed

I took over the info from https://github.com/browserstack/browserstack-cypress-cli/issues/342#issuecomment-1222553505 that I need to specify `cypress` also in the `npm_dependencies`.

My `brow

[2022-11-18 13:07] sharutkarsh commented on #423
Hi Andreas,

I hope you are doing well.

I have read through your query and understood the issue.

Please try to install cypress on the CI env at the project level folder. This should solve the error.
The problem here is that you are importing cypress in its cypress.config.js file which can be done with cypress 10. At the CLI level, it read the cypress.config.js file for validations and tries to r

[2022-11-29 09:11] ismaelgt opened #440 "Recursion creating tests.zip when home_directory is defined"
When `home_directory` is set to a parent directory, `tests.zip` ends up including itself while being generated, which ends up in a recursion and an infinitely growing file.

[2022-11-29 15:42] Hakier opened #442 "Error and warning when using `init` command"
Hello!

Version `1.11.1` was the last version that run `init` command without warnings and errors.
In this version when called `init` command it printed to the console only two lines:
[code]

Since version `1.11.2` it prints also a `Warning`:
[code]

Since version `1.14.0` it prints also a `TypeError`:
[code]

Tested on node: `v12.22.12`, `v14.17.4`, `v18.12.1`

[2022-11-30 03:52] sharutkarsh commented on #442
Hi there,

Cypress CLI version 1.19.1 is the newer one, which has all the bug fixes and more stability compared to older versions.

By the way I could not understand your exact issue, I would suggest you to please raise support ticket.

Link- [https://www.browserstack.com/contact#technical-support](https://www.browserstack.com/contact#technical-support)

Thanks

[2022-11-30 12:03] Hakier commented on #442
Cypress CLI version `1.19.1` has the same issues. Here is an output from `browserstack-cypress init`:

[code]

[2022-11-30 14:39] sharutkarsh commented on #442
As suggested please raise a support ticket.

Link- https://www.browserstack.com/contact#technical-support

Thanks